body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: antiquewhite;
}

#root {
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar {
  padding: 14px;
}

.navPoint {
  font-size: x-large;
  padding-right: 12px;
  cursor: pointer;
}

.navPoint:hover {
  text-decoration: underline;
}

.action {
  padding-right: 4px;
  padding-left: 4px;
  cursor: pointer;
}

.action:hover {
  text-decoration: underline;
}
