body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: antiquewhite;
}

#root {
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 12px;
  user-select: none;
}

.logo {
  margin-left: 8px;
  margin-right: 18px;
  font-size: 24px;
  font-style: italic;
}

.navPoint {
  font-size: 24px;
  margin-right: 12px;
  cursor: pointer;
  color: #ff8c00;
}

h1 {
  margin: 0px;
  font-size: 22px;
  font-weight: 400;
  color: #ffbc70;
}

.navPoint:hover {
  color: orangered;
  user-select: none;
  text-shadow: orangered 0px 0px 1px;
}

.navPoint.selected {
  border-bottom: 3px solid #ff8c00;
}

.action {
  padding-right: 4px;
  padding-left: 4px;
  cursor: pointer;
  color: darkorange;
  user-select: none;
}

.action.disabled {
  opacity: 0.4;
}

.action:hover {
  color: orangered;
  text-shadow: orangered 0px 0px 2px;
}

h1 .action {
  color: inherit;
}


.label {
  margin: 4px;
  font-weight: bold;
  user-select: none;
}

.invalid {
  font-size: small;
  color: red;
}

main {
  display: flex;
  flex-flow: column;
  padding: 8px 24px 8px 24px;
  align-self: center;
  min-width: 700px;
  max-width: 1000px;
}

main table {
  width: 100%;
  border-spacing: 0px;
}

main table tr {
  height: 28px;
}

main table tr:hover {
  background-color: rgba(200, 200, 200, 0.2);
}

main table td {
  word-break: keep-all;
  white-space: nowrap;
  border-bottom: 1px solid white;
}

main table td:nth-child(1) {
  min-width: 100px;
}

main table td.data {
  width: 100%;
}

main table .lesson {
  margin-left: 4px;
  margin-right: 4px;
  background-color: transparent;
  border: none;
  padding: 0px;
  padding-left: 4px;
  margin: 0px;
  width: 100%;
}

input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  background-color: rgba(200, 200, 200, 0.3);
}

main table .number {
  display: inline-block;
  min-width: 25px;
  opacity: 0.6;
  margin-left: 8px;
  text-align: right;
  user-select: none;
}

main table .title {
  margin-left: 8px;
}

.editCard {
  display: flex;
  flex-flow: row wrap;
  column-gap: 30px;
  row-gap: 15px;
}

.editCard h1 {
  flex: 1 100%;
}

.editCard .cardIndex {
  user-select: none;
}

.sep {
  user-select: none;
}

.editCard .sep {
  margin-left: 14px;
  margin-right: 8px;;
}

.editCard .form {
  display: flex;
  flex-flow: column;
  flex: 1 40%;
  row-gap: 2px;
}

.editCard .form input {
  padding: 4px;
  margin-bottom: 12px;
}

.editCard .dictionary {
  height: 400px;
  flex: 1 40%;
  display: flex;
  flex-flow: column;
  row-gap: 2px;
}

.editCard .dictBg {
  background: #212529;
  height: 300px;
  width: 400px;
  margin: 0px;
  padding: 0px;
}

.editCard ul {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  mask-image: linear-gradient(black 90%, transparent);
}

.editCard li {
  padding: 8px;
  margin: 0px 24px 0px 24px;
  line-height: 140%;
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: row;
}

.editCard li.selected {
  color: #ff8c00ee;
}

.editCard li:hover {
  color: orangered;
  text-shadow: orangered 0px 0px 1px;
}

.editCard li .info {
  left: 0px;
  right: 20px;
}

.editCard li .enter {
  position: relative;
  /* translate: 345px 0px;
  display: block; */
  font-size: 24px;
  /* transition-property: translate; */
  visibility: hidden;
}

.editCard  li.selected .enter {
  visibility: visible;
}
